.event-card{
    max-width: 35px; 
    height: auto;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.event-search-box{
    width: 120px
}