nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-deep-blue);
  padding: 10px 20px;
  width: 100%; 
  box-sizing: border-box;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--neutral-white);
  padding-left: 30px;
}

nav .nav-center {
  text-align: center;
}

nav .nav-center a {
  color: var(--neutral-white);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

nav .nav-right {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .nav-right li {
  display: inline; 
}

nav .nav-right a {
  color: var(--neutral-white);
  font-size: 1rem;
  text-decoration: none;
}

nav .nav-right a:hover {
  color: var(--primary-bright-cyan);
}

/* Mobile View
@media (max-width: 768px) {
  .nav-right {
    display: none;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-deep-blue);
  }

  .navbar-collapse.show {
    display: block;
  }

  .navbar-collapse ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .navbar-collapse li {
    margin: 10px 0;
  }

  .navbar-collapse a {
    color: var(--neutral-white);
    padding: 10px;
    text-decoration: none;
  }

  .navbar-collapse a:hover {
    background-color: var(--primary-bright-cyan);
    border-radius: 5px;
  }
} */
